yfinance>=0.2.18
lightgbm>=3.3.2
tensorflow>=2.14.0
scikit-learn>=1.3.0
pandas>=1.5.2
numpy>=1.23.0
ta>=0.10.0
joblib>=1.2.0
requests>=2.28.0
matplotlib>=3.6.0
python-telegram-bot==13.15
xgboost>=1.7.6,<2.0.0
optuna>=3.0.0